<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- 沙箱环境只允许 HTTP 直连,HTTPS 被拦截;华为云 artifactory 提供 http 源(不重定向) -->
    <add key="huawei-http" value="http://repo.huaweicloud.com/artifactory/api/nuget/v3/nuget-remote/index.json" />
  </packageSources>
  <config>
    <add key="globalPackagesFolder" value="D:\ScreenTranslator\.nuget\packages" />
  </config>
</configuration>
